
<div class="footer">
    <div class="footer_container">       
        
     			<div class="footer1">
        			<h4>成龙拳馆</h4>
       				<div class="clear"></div>           
					<p> 跆拳道 散打 拳击 女子防身术 搏击减肥 大学前体能特训</p>
        			<p class="highlight"><span class="phone">15580899100  何教练</span></p>
           	 		<p class="highlight"><span class="email bold"> <a href="mailto:65004257@qq.com">65004257@qq.com</a></span></p>
            		<p class="highlight"><span class="mail">地址：河西岳麓区观沙路龙泊湾商业街（八方小区东门旁）成龙拳馆</span></p>
            		<p class="highlight"><span class="mail">地址二：河西四水厂正对面长平大厦二楼 成龙拳馆</span></p>
        		</div>
     			<!--<div class="footer2">
        			<h4>照片墙</h4>
        			<div class="clear"></div>
            		&lt;!&ndash;Flickr&ndash;&gt;
					<ul id="basicuse" class="thumbs">
            			<li></li>
          			</ul>
        		</div>           -->
     			<div class="footer2">
        			<h4 class="weixin">关注我们</h4>
        			<div class="clear"></div>        
            		<div id="twitter_div">
                		<img class="imageinset" src="{{ site.baseurl }}images/weixin180.jpg" alt="二维码" />
             		</div>
         		</div>        
     			<div class="footer3">
    				<h4>获取更加详细的咨询</h4>
        			<div class="clear"></div>           
					<!--Form--> 
        			<iframe src='{{ site.baseurl }}contactfooter/contactform.html' frameborder='0' width='222' height='200' marginwidth="0" scrolling="no"></iframe>
       				<!--End Form-->
        		</div>
                <div class="footer4">
                    <!--360 标记-->
                    <a href="http://webscan.360.cn/index/checkwebsite/url/clboxing.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/510515e74f8570b16cbfe11a2457bbf0"/></a>
                </div>
        
    <div class="clearnospacing"></div>
    </div>
</div>