<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn"> -->
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/grid.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="stylesheet" type="text/css" href="/css/tabs.css">
<link rel="stylesheet" type="text/css" href="/css/coda-slider-2.0.css">
<link rel="stylesheet" type="text/css" href="/layerslider/css/layerslider.css">

<link rel="stylesheet" type="text/css" href="/css/parallax.css">


<link rel="stylesheet" type="text/css" href="/css/toggle.css">

<link rel="stylesheet" type="text/css" href="/css/prettyPhoto.css">

<link rel="stylesheet" type="text/css" href="/css/nivo-slider.css">

<link rel="stylesheet" type="text/css" href="/css/menu.css">
<link rel="shortcut icon" href="/images/favicon.png">
