<!--Featured Projects-->
<div class="centerbar">
    <div class="featuredprojects">

        <h4>会员</h4>

        <div class="clearsmall"></div>

        <div class="coda-slider-wrapper">
            <div class="coda-slider preload" id="coda-slider-1">

                <!-- Slide -->
                <style type="text/css">
                    #scrollobj {
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .bgbo {
                        background: #eee;
                        margin-right: 20px;
                        padding: 5px;
                        width: 223px;
                        height: 170px;;
                    }
                </style>
                <div class="panel">
                    <div class="panel-wrapper">
                        <div id="scrollobj" onmouseover="_stop();" onmouseout="_start();">

                        </div>
                    </div>
                </div>

            </div>
            <!-- .coda-slider -->
        </div>
        <!-- .coda-slider-wrapper -->

    </div>
    <div class="clearnospacing"></div>
</div>
<!--End Featured Projects-->