
<div class="container_12">

		<div class="grid_6">
			<div class="mininav">
            	<ul>
            		<li><a href="/" class="fade">首页</a></li>
                	<!-- <li><a href="#" class="fade">Find a Club</a></li> -->
                    <!-- <li><a href="#" class="fade">Site Map</a></li> -->
                    <li><a href="/" class="button dark small">成龙拳馆</a></li>
            	</ul>
			</div>
		</div>
        
        <div class="grid_6 alignrightnopad">
        <!--Social Networks-->
        <div class="socialbar">
        	<div class="bdsharebuttonbox">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            </div>
<script>
window._bd_share_config={"common":
                            {"bdSnsKey":{},
                                "bdText":"",
                                "bdMini":"2",
                                "bdMiniList":false,
                                "bdPic":"",
                                "bdStyle":"1",
                                "bdSize":"16"
                            },
                            "share":{},
                            "image":{
                                "viewList":["tsina","weixin","qzone","tqq","renren"],
                                "viewText":"分享到：",
                                "viewSize":"16"
                             },"selectShare":{"bdContainerClass":null,
                             "bdSelectMiniList":["tsina","weixin","qzone","tqq","renren"]}};
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src=
    'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>               
        </div>
        <!--End Social Networks-->        
        </div>          
        
	</div>


   