  <div class="content two" style="display: none;">
                    <!--Start Table-->        
                    <table id="regulartable">
                    <colgroup>
                        <col />
                        <col />
                        <col />     
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" class="regularstandard"></th>
                            <th scope="col" class="regularstandard">跆拳道班</th>
                        </tr>      
                    </thead>
                    <tbody>   
                        <tr>
                            <td class="regulartable-highlight-even">班级人数</td>
                            <td class="regulartable-odd">15--20人 大班授课</td>
                        </tr>
                         <tr>
                            <td class="regulartable-highlight-odd">招生对象</td>
                            <td class="regulartable-odd">4---10岁少儿</td>
                        </tr>
                        <tr>
                            <td class="regulartable-highlight-even">上课时间</td>
                            <td class="regulartable-even">19:00---20:30 </td>
                        </tr>        
                        <tr>
                            <td class="regulartable-highlight-odd">班级设置</td>
                            <td class="regulartable-odd">长期年卡 (6次/周) 每周二,三,四,五,六,日开课</td>
                        </tr>
                         <tr>
                            <td class="regulartable-highlight-even">学习内容</td>
                            <td class="regulartable-even">
                            <p>
							    跆拳道品势:太极一章到八章,
							</p>
							<p>
							    跆拳道步伐:上步,撤步,前拖步,后拖步,前进步,后退步,前冲步等.
							</p>
							<p>
							    跆拳道腿法:前踢,横踢,后踢,下劈,旋风踢,推踢,侧踢,后旋踢等
							</p>
							<p>
							    跆拳道特技:侧身翻,侧空翻,后手翻,前手翻,后空翻,前空翻,鱼跃前滚翻.
							</p>
							<p>
							    跆拳道礼仪:礼仪廉耻,忍耐克己,百折不屈. 跆拳道学员性格培养,道德培养,韧性培养,挫折
							</p>
                            </td>
                        </tr>                  
                        </tbody>   
                    </table>
                    <!--End Table-->  
                </div>