 <div class="content three" style="display: none;">
                    <!--Start Table-->        
                    <table id="regulartable">
                    <colgroup>
                        <col />
                        <col />
                        <col />     
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" class="regularstandard"></th>
                            <th scope="col" class="regularstandard">私教小班</th>
                        </tr>      
                    </thead>
                    <tbody>   
                        <tr>
                            <td class="regulartable-highlight-odd">特点</td>
                            <td class="regulartable-odd">
								<p>
								    1：一节私教课相当于大课三节的进度，有明显区别于大课的进度。<br/>
								</p>
								<p>
								    2：为小孩针对性建立训练计划和方案。
								</p>
								<p>
								    3：针对小孩子的实际情况，采取针对性的教学。
								</p>
								<p>
								    4：私人教练都具备三门以上的武术技能（散打，跆拳道，传统武术）
								</p>
								<p>
								    5：私人教练会针对性培养小孩子语言，性格等综合素质。
								</p>
								<p>
								    6：采取一对一指导，贴身服务。采取预约制时间灵活、
								</p>
								<p>
								    7：针对初中、高中学员的身体素质提高，用科学的训练方法来改进体能、特长（排球、足球、篮球）。让孩子更自信、更健康。
								</p>
                            </td>
                        </tr>
                        <tr> 
                        	<td class="regulartable-highlight-even"> </td>
                            <td class="regulartable-even">
                        		私教课程是家长追求安静，整洁，安全，方便，尊重，教学质量和学员性格培养的不二选择。
私教费用根据星级进行划分，不同教练不同价格
                        	</td>
                        </tr>
                            
                        </tbody>   
                    </table>
                    <!--End Table-->  
                </div>    