 <div class="content one" style="">                   
                    <!--Start Table-->        
                    <table id="regulartable">
                    <colgroup>
                        <col />
                        <col />
                        <col />     
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" class="regularstandard"></th>
                            <th scope="col" class="regularstandard">散打班</th>
                        </tr>      
                    </thead>
                    <tbody>   
                         <tr>
                            <td class="regulartable-highlight-even">班级人数</td>
                            <td class="regulartable-odd">15--20人 大班授课</td>
                        </tr>
                        <tr>
                            <td class="regulartable-highlight-odd">招生对象</td>
                            <td class="regulartable-even">9--16岁青少年</td>
                        </tr>
                        <tr>
                            <td class="regulartable-highlight-even">上课时间</td>
                            <td class="regulartable-odd">19:00---20:30 </td>
                        </tr>        
                        <tr>
                            <td class="regulartable-highlight-odd">班级设置</td>
                            <td class="regulartable-even">长期（3次/周)</td>
                        </tr>
                         <tr>
                            <td class="regulartable-highlight-even">学习内容</td>
                            <td class="regulartable-odd">
                              <p>
                                    散打拳法:直拳,摆拳,勾拳,边拳. 直,摆,勾拳的组合运用.
                                </p>
                                <p>
                                    散打踢法:低高边腿,侧踢腿,推踢,后踢,旋风踢 及腿法的综合运用
                                </p>
                                <p>
                                    散打摔法: 接手摔 接腿摔 近身摔 背摔 勾腿摔等系列20十种以上的摔跤格斗技
                                </p>
                                <p>
                                    散打实战: 一对一实战 一对二实战 一对三实战 一对四实战 徒手对刀实战&nbsp;
                                </p>
                                <p>
                                    散打礼仪: 以礼始,以礼终.尊敬师长,团结队友,百战不屈,坚强刚毅.
                                </p>
                                <p>
                                    散打空翻: 侧身翻,侧空翻,后手翻,前手翻,后空翻,前空翻,鱼跃前滚翻.
                                </p>
                            </td>
                        </tr>                  
                        </tbody>   
                    </table>
                    <!--End Table-->  
                </div>