<li>
    {% assign one = site.data.picturelist.one %}
    {% if one.prettyPhoto == "default" %}
    <a href="images/newImage/{{ one.img }}" class="alternate" rel="prettyPhoto" title="{{ one.title }}"></a>
    {% else %}
    <a href="images/newImage/{{ one.img }}" class="alternate" rel="prettyPhoto[{{ one.prettyPhoto }}]"
       title="{{ one.title }}"></a>
    {% for picture in one.group %}
    <a href="{{picture.url}}" class="alternate4" rel="prettyPhoto[{{one.prettyPhoto}}]" title="{{picture.title}}"></a>
    {% endfor %}
    {% endif %}
    <img src="images/newImage/{{ one.simg }}" width="209" height="160" alt="" />
</li>
