<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>公司介绍 | 成龙拳馆</title>
    {% include header.html %}
</head>

<body>
<div id="maincontent">

<!--Top Nav-->
<div class="bar">
    {% include share.html %}
</div>
<!--End Top Nav-->

<div class="box">
<a name="top" id="top"></a>

<!--Main Bar-->
<div class="container_12 navbar">
    <!--Logo-->
    {% include logo.html %}
    <!--End Logo-->
    {% include main-nav.html param='company' %}
</div>
<!--End Main Bar-->

<div class="clearsmall"></div>

<div class="headertext">拳馆介绍<span>跆拳道不仅仅是一项运动更是一种精神</span></div>

<img src="/images/company.png" width="960" height="160" alt="跆拳道不仅仅是一项运动更是一种精神"/>

<div class="clear"></div>

<div class="container_12">
    <div class="grid_12 nomargin">
        <p style="font-size:15px">
            &nbsp;&nbsp;&nbsp;&nbsp;“诚心实意,龙虎精神” 带着对武术的全新理解和对武术的无限至爱，长沙首家综合性武术拳馆---成龙拳馆蔚然而生。
        </p>

        <p style="font-size:15px">
            &nbsp;&nbsp;&nbsp;&nbsp;成龙拳馆是一家由多名武术专业运动员发起并成立的。拳馆发展至今成立三家直营专业拳馆。数十个教学点，总学员400余人。
            拳馆根据学员年龄层次不同制定教学大纲，分班级化管理，做到同一年龄段一个班，同一水平一个班，大大提高了学习的效率和学习的兴趣。
            成龙拳馆主要经营“散打”、“跆拳道”、“女子防身术”
            3大经典竞技武术项目。我们秉承“超越自我” “以德育人” 的品牌经营理念，致力于打造湖南省专业和具服务特色的拳馆，提供广大武术爱好者良好的训练环境，教授一流的武术专业技术。
        </p>

        <p style="font-size:15px">
            &nbsp;&nbsp;&nbsp;&nbsp;2011年8月1日成龙拳馆被省体育学院授予“湖南省体育学院后备人才培训基地”“世界跆拳道联盟指定考级地点”也得到了家长们的一致认可。这使我们更加坚定我们做大，做强的信心。我们必将全力以赴，尽心尽责来经营成龙拳馆以回报所有支持和关心我们的人。
        </p>


    </div>




    <div class="clearnospacing"></div>
    {% include changyan.html %}
</div>


</div>
<!--End Box-->

    {% include js.html %}
<!--Footer-->
{% include footer.html %}
{% include copyright.html %}

</div>

</body>
</html>
