<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>成龙拳馆 长沙河西跆拳道培训 长沙少儿跆拳道培训 长沙散打培训 长沙跆拳道 中学生体能改善</title>
    <meta name="keywords" content="拳馆,长沙拳馆,河西拳馆,跆拳道,跆拳道馆,散打,武术,女子防身术,跆拳道培训,跆拳道教学,长沙河西跆拳道培训,长沙少儿跆拳道培训,长沙散打培训,长沙跆拳道">
    <meta name="description" content="成龙拳馆是一家由多名武术专业运动员发起并成立的。
    拳馆发展至今成立三家直营专业拳馆。数十个教学点，总学员400余人。
    拳馆根据学员年龄层次不同制定教学大纲，分班级化管理，做到同一年龄段一个班，同一水平一个班，大大提高了学习的效率和学习的兴趣。
    拳馆主要经营散打、跆拳道、女子防身术3大经典竞技武术项目。">
    <style type="text/css">@import url("css/reset.css");</style>
    <style type="text/css">@import url("css/grid.css");</style>
    <style type="text/css">@import url("css/styles.css");</style>
    <style type="text/css">@import url("css/tabs.css");</style>
    <link type="text/css" href="/css/picturepm.css" rel="stylesheet">
    <!--Common jQuery-->
    <script src="/js/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <!--Coda Slider-->
    <style type="text/css">@import url("/css/coda-slider-2.0.css");</style>
    <!--CSS Switcher-->
    <!--Flickr Feed-->
    <script type="text/javascript" src="js/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="js/setup.js"></script>
    <!--Parallax-->
    <style type="text/css">@import url("layerslider/css/layerslider.css");</style>
    <style type="text/css">@import url("css/parallax.css");</style>
    <script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#layerslider').layerSlider({
                navPrevNext : true,
                navButtons : false,
                navStartStop : false,
                animateFirstLayer : true,
                skinsPath : 'layerslider/skins/'
            });
        });
    </script>

    <!--Scroll Top-->
    <script type="text/javascript" src="js/scroll.js"></script>
    <!--Pretty Photo-->
    <style type="text/css">@import url("css/prettyPhoto.css");</style>
    <script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <!--Quicksand-->
    <!--Nivo-->
    <style type="text/css">@import url("css/nivo-slider.css");</style>
    <script type='text/javascript' src='js/jquery.nivo.slider.js'></script>
    <script type='text/javascript'>
        $(window).load(function() {
            $('#slider').nivoSlider();
        });
    </script>
    <!--Background-->
    <script type="text/javascript" src="js/jquery.fullbg.min.js"></script>
    <!--New Menu-->
    <style type="text/css">@import url("css/menu.css");</style>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.png">
</head>

<body>
<div id="maincontent">

    <!--Top Nav-->
    <div class="bar">
        {% include share.html %}
    </div>
    <!--End Top Nav-->

    <!--Start Box-->
    <div class="box">
        <a name="top" id="top"></a>

        <!--Main Bar-->
        <div class="container_12 navbar">
            <!--Logo-->
            {% include logo.html %}
            <!--End Logo-->
            <!--Main Nav-->
            <div class="grid_9_no_margin">
               {% include main-nav.html param='index' %}
            </div>
            <!--End Main Nav-->
        </div>
        <!--End Main Bar-->
    </div>
    <!--End Box-->

    <div class="clearnospcaing"></div>

    <!--Nivo Slider Section-->
    <div class="nivo_container">
        <div id="slider" class="nivoSlider">
            <img src="/images/blog/taekwondo-grade-eleven/caption.png" alt="跆拳道升级考试第十一届" title="#htmlcaption1" />
            <img src="/images/nivo/image2.png" alt="跆拳道升级考试" title="#htmlcaption2" />
            <img src="/images/nivo/image3.jpg" alt="长郡中学散打表演" title="#htmlcaption3" />
            <img src="/images/nivo/image1.jpg" alt="散打升级考试" title="" />
            <img src="/images/nivo/image4.jpg" alt="上课" title="" />
        </div>
        <div id="htmlcaption3" class="nivo-html-caption">
            <p><span class="color">长郡双语中学散打表演</span></p>
            <p class="sub">
               </p>
            <div class="nivobutton"><a target="_blank" href="/news/2014/10/07/changjun-boxing-show.html" class="button highlight action">更多</a></div>
        </div>

        <div id="htmlcaption2" class="nivo-html-caption">
            <p><span class="color">成龙拳馆第十届考级</span></p>
            <p class="sub">
            </p>
            <div class="nivobutton"><a target="_blank" href="/news/2015/08/20/taekwondo-grade-ten.html" class="button highlight action">更多</a></div>
        </div>

        <div id="htmlcaption1" class="nivo-html-caption">
            <p><span class="color">成龙拳馆第十一届考级</span></p>
            <p class="sub">
            </p>
            <div class="nivobutton"><a target="_blank" href="/blog/2016/03/16/clboxing-taekwondo-grade-eleven.html" class="button highlight action">更多</a></div>
        </div>

    </div>
    <!--End Nivo Slider Section-->
    <div class="clearnospacing"></div>


    {% include ad.html %}
    {% include newstudent.html %}
    {% include newImage.html %}
    {% include footer.html %}
    {% include copyright.html %}

</div>
<!--End Content-->


<script type="text/javascript" src="js/custom_filter.js"></script>

<!--Tool Tip-->
<script type="text/javascript">
    var tip = $();
    $(document).ready(function() {
        //Tooltips
        $(".tip_trigger").hover(function(){
            tip = $(this).find('.tip');
            tip.show(); //Show tooltip
        }, function() {
            tip.hide(); //Hide tooltip
        }).mousemove(function(e) {
                    var mousex = e.pageX + 20; //Get X coodrinates
                    var mousey = e.pageY + 20; //Get Y coordinates
                    var tipWidth = tip.width(); //Find width of tooltip
                    var tipHeight = tip.height(); //Find height of tooltip

                    //Distance of element from the right edge of viewport
                    var tipVisX = $(window).width() - (mousex + tipWidth);
                    //Distance of element from the bottom of viewport
                    var tipVisY = $(window).height() - (mousey + tipHeight);

                    //Absolute position the tooltip according to mouse position
                    tip.css({  top: mousey, left: mousex });
                });
    });
</script>

<!--Tabs-->
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="/js/marquee.js"></script>

</body></html>