<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>成龙拳馆|长沙河西跆拳道培训</title>
		<meta name="keywords" content="拳馆,跆拳道,跆拳道馆,散打,武术,女子防身术,跆拳道培训,跆拳道教学">
    <meta name="description" content="成龙拳馆是一家由多名武术专业运动员发起并成立的。
    拳馆发展至今成立三家直营专业拳馆。数十个教学点，总学员400余人。
    拳馆根据学员年龄层次不同制定教学大纲，分班级化管理，做到同一年龄段一个班，同一水平一个班，大大提高了学习的效率和学习的兴趣。
    拳馆主要经营散打、跆拳道、女子防身术3大经典竞技武术项目。
    我们秉承超越自我、以德育人的品牌经营理念，致力于打造湖南省专业和具服务特色的拳馆，提供广大武术爱好者良好的训练环境，教授一流的武术专业技术">

		{% include header.html %}

	</head>

	<body>

		<div id="maincontent">

			<!--Top Nav-->
			<div class="bar">
				{% include share.html %}
			</div>
			<!--End Top Nav-->

			<!--Start Box-->
			<div class="box">
				<a name="top" id="top"></a>

				<!--Main Bar-->
				<div class="container_12 navbar">
                    <!--Logo-->
                    {% include logo.html %}
					<!--End Logo-->
					<!--Main Nav-->
					<div class="grid_9_no_margin">
						<div id="menu">
							<ul>
								<!--  icon_drop 加入此class 箭头标记 -->
								<li class="current">
									<a href="index.html">首页</a>
								</li>
								<li class="icon_drop">
									<a href="company.html">关于我们</a>
									<ul>
										<li>
											<a href="company.html" class="fade">拳馆介绍</a>
										</li>
										<li>
											<a href="teacher.html" class="fade">教练介绍</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="student.html">招生简章</a>
								</li>
								<li class="icon_drop">
									<a href="news.html">动态</a>
									<ul>
										<li>
											<a href="news.html" class="fade">新闻</a>
										</li>
										<li >
											<a href="blog.html" class="fade">文章</a>
										</li>
									</ul>
								</li>
								<li class="icon_drop">
									<a href="#">会员专区</a>
									<ul>
										<li>
											<a href="#" class="fade">活动花絮</a>
										</li>
										<li>
											<a href="vedio.html" class="fade">视频教学</a>
										</li>
										<li>
											<a href="#" class="fade">赛事荣誉</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="contact.html">联系我们</a>
								</li>
							</ul>
						</div>
					</div>
					<!--End Main Nav-->
				</div>
				<!--End Main Bar-->
			</div>
			<!--End Box-->
			<div class="inner_copyright"></div>
			<div class="clearnospcaing"></div>
			
<!--Nivo Slider Section-->
        <div class="nivo_container">
            <div id="slider" class="nivoSlider">
         
                <img src="images/nivo/image6.jpg" alt="" title="#htmlcaption1" />
                <img src="images/nivo/image7.jpg" alt="" title="#htmlcaption2" />
                <img src="images/nivo/image9.jpg" alt="" title="#htmlcaption3" />
                <img src="images/nivo/image8.jpg" alt="" title="#htmlcaption4" />
                
            </div>
            <div id="htmlcaption1" class="nivo-html-caption">
                <p>Get in shape today for<br /><span class="color">Zero Money Down, $19.99 Per Month</span> Limited Time Offer*</p>
                <p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
                <div class="nivobutton"><a href="#" class="button regular action">SIGN UP NOW</a></div>
            </div>            
            <div id="htmlcaption2" class="nivo-html-caption">
                <p><span class="color">2 Free Sessions</span><br />with a Personal Trainer with all new Memberships*</p>
                <p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
                <div class="nivobutton"><a href="#" class="button highlight action">JOIN NOW</a></div>
            </div>
            <div id="htmlcaption3" class="nivo-html-caption">
                <p>Still not sure, try us out for free. Get a <span class="color">3 Day Pass</span> and try out all our facilities with no obligation*</p>
                <p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
                <div class="nivobutton"><a href="#" class="button highlight action">REQUEST PASS</a></div>
            </div> 
            <div id="htmlcaption4" class="nivo-html-caption">
                <p>Already a Member, refer <span class="color">family and friends</span> and receive additional discounts off your monthly rate*</p>
                <p class="sub">*Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce tincidunt nulla in dui auctor quis egestas dui lobortis</p>
                <div class="nivobutton"><a href="#" class="button regular action">LEARN MORE</a></div>
            </div>  
            <div class="clearnospacing"></div>        
        </div>
<!--End Nivo Slider Section-->

			<!--Start Parallax
			<div id="dim">

				<div id="layerslider">

					<div class="ls-layer" rel="slidedelay: 5000;">
						<img class="ls-bg" src="images/index/index1.png" alt="layer" />
					</div>
					<div class="ls-layer" rel="slidedelay: 5000;">
						<img class="ls-bg" src="images/index/index2.jpg" alt="layer" />
					</div>

					<div class="ls-layer" rel="slidedelay: 5000;">
						<img class="ls-bg" src="images/index/l4.jpg" alt="layer" />
					</div>

					<div class="ls-layer" rel="slidedelay: 5000;">
						<img class="ls-bg" src="images/index/l2.png" alt="layer" />
					</div>

					<div class="ls-layer" rel="slidedirection: right; slidedelay: 6000">
						<img class="ls-bg" src="images/index/l1.jpg" alt="layer" />
					</div>
				</div>
			</div>
			End Start Parallax-->

			<div class="clearnospacing"></div>

			<!--Start Box-->
			<div class="box">

				<div class="clearsmall"></div>

				<div class="container_12">
					<div class="grid_12 nomargin">

						<div class="showbox nomargin boxpadding">
							<h3><img class="imageinset" src="images/slideshow_icon.png" alt="" />跆拳道（朝鲜半岛徒手格斗术）</h3>
							<p>
								跆拳道起源于朝鲜半岛，早期是由朝鲜三国时代的跆跟、花郎道演化而来的，韩国民间较普遍流行的一项技击术。“跆拳道”一词，是1955年由韩国的崔泓熙将军创造，被韩国视为国技。 跆（TAE），意为以脚踢； 拳、（KWON），以拳头打击； 道（DO），则是代表道行、礼仪修练的艺术。
							</p>
							<a href="#" target="_self" class="button minimal small">了解更多</a>
						</div>

						<div class="showbox nomargin boxpadding">
							<h3><img class="imageinset" src="images/slideshow_icon.png" alt="" />散打（体育格斗运动）</h3>
							<p>
								散打是两人按照一定的规则，并运用武术中的踢、打、摔等攻防技法制服对方的、徒手对抗的现代竞技体育项目，它是中国武术的重要组成部分。
							</p>
							<a href="#" target="_self" class="button minimal small">了解更多</a>
						</div>

						<div class="showbox nomargin boxpadding">
							<h3><img class="imageinset" src="images/slideshow_icon.png" alt="" />拳击（体育运动）</h3>
							<p>
								拳击（英文：boxing;pugilism，法文：Boxe）是戴拳击手套进行格斗的运动项目。它既有业余的（也称奥运拳击），也有职业的商业比赛。比赛的目标是要比对方获得更多的分以战胜对方或者将对方打倒而结束比赛。与此同时比赛者要力图避开对方的打击。 拳击被称为“勇敢者的运动”。早在古希腊和罗马时代就有许多有关拳击的记载。在古代奥运中，拳击运动就已经是比赛项目之一。到第三届在圣路易斯举行的现代夏季奥运会，男子拳击正式被列入比赛项目。
							</p>
							<a href="#" target="_self" class="button minimal small">了解更多</a>
						</div>

						<div class="showbox nomargin boxpadding">
							<h3><img class="imageinset" src="images/slideshow_icon.png" alt="" />以色列格斗术</h3>
							<p>
								以色列格斗术又称马伽术（KravMaga），是以色列发展创立的特种军用格斗技术。
								KRAVMAGA是以色列国防军及军事、执法部门人员必修格斗术，也是美国FBI必修课，已经被广泛地运用在世界各地军警部门。
								马伽术的简化版本即民用马伽术(Civilian Krav Maga ) 可以被有效的运用于个人防身自卫，在遇到他人侵害时马伽术练习者可以进行及时有效的安全防御。
							</p>
							<a href="#" target="_self" class="button minimal small">了解更多</a>
						</div>

					</div>
					<div class="clear"></div>
				</div>

			</div>
			<!--End Box-->

			
			{% include ad.html %}
			{% include newImage.html %}
			{% include footer.html %}
			{% include copyright.html %}

		</div>
		<!--End Content-->

	</body>
</html>
{% include js.html %}