<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>加入我们 | 成龙拳馆</title>
    {% include header.html %}
</head>

<body>
<div id="maincontent">

<!--Top Nav-->
<div class="bar">
    {% include share.html %}
</div>
<!--End Top Nav-->

<div class="box">
<a name="top" id="top"></a>

<!--Main Bar-->
<div class="container_12 navbar">
    <!--Logo-->
    {% include logo.html %}
    <!--End Logo-->
    {% include main-nav.html param='about' %}
</div>
<!--End Main Bar-->

<div class="clearsmall"></div>

<div class="headertext">招聘<span>加入我们团队</span></div>


<div class="container_12">
    <div class="grid_12 nomargin">

        <table id="regulartable">
            <tbody>
            <tr>
                <td class="regulartable-odd">公司名称：成龙拳馆</td>
                <td class="regulartable-odd">公司规模：20人以下</td>
            </tr>
            <tr>
                <td class="regulartable-even">公司行业：教育/培训</td>
                <td class="regulartable-even">公司类型：民营</td>
            </tr>
            <tr>
                <td class="regulartable-odd">联系人：何老师</td>
                <td class="regulartable-odd">联系电话：155-8089-9100</td>
            </tr>
            <tr>
                <td class="regulartable-even">公司地址：湖南长沙长沙河西市政府八方小区</td>
                <td class="regulartable-even"></td>
            </tr>

            </tbody>
        </table>

        <table id="regulartable">
            <caption><h2>招聘职位</h2></caption>
            <thead>
            <tr>
                <th class="regularstandard">职位名称</th>
                <th class="regularstandard">薪资待遇</th>
                <th class="regularstandard">学历</th>
                <th class="regularstandard">人数</th>
                <th class="regularstandard">工作地点</th>
                <th class="regularstandard">更新时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="regulartable-odd">跆拳道教练</td>
                <td class="regulartable-odd">面议</td>
                <td class="regulartable-odd">不限</td>
                <td class="regulartable-odd">2</td>
                <td class="regulartable-odd">岳麓</td>
                <td class="regulartable-odd">2015-4-1</td>
            </tr>
            </tbody>
        </table>


    </div>

    <div class="clearnospacing"></div>
    {% include changyan.html %}
</div>


</div>
<!--End Box-->

    {% include js.html %}
<!--Footer-->
{% include footer.html %}
{% include copyright.html %}

</div>

</body>
</html>
